
<title>Plan S</title>


<header class="masthead">
  <div class="overlay">
    <div class="container">
      <h1 class="display-1 text-white">PlanS</h1>
      <h2 class="display-4 text-white">Llego el momento de compartir tus gustos</h2>
      <h4 class="display-4 text-white">Unete al plan</h4>
    </div>
  </div>
</header>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 order-2">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="https://ugc.kn3.net/i/origin/http://www.orangesmile.com/common/img_final_large/medellin_sightseeing.jpg" alt="">
        </div>
      </div>
      <div class="col-md-6 order-1">
        <div class="p-5">
          <h2 class="display-4">Cera tu plan...</h2>
          <p>Puedes crear diferentes tipos de planes y comparte con las personsa que en realidad les apaciona los mismo</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="https://unsplash.it/500/500?image=452" alt="">
        </div>
      </div>
      <div class="col-md-6">
        <div class="p-5">
          <h2 class="display-4">Suscribete a un plan</h2>
          <p> Busca planes de tu interes y disfrutalos con personas que tambien les gusta este tipo de planes, mira quien asistira, que tipo de plan es, hora y lugares de donde se realizara</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 order-2">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="https://unsplash.it/500/500?image=453" alt="">
        </div>
      </div>
      <div class="col-md-6 order-1">
        <div class="p-5">
          <h2 class="display-4">Agranda tu circulo de amigos</h2>
          <p>Isgresa tus gustos y PLAN S te sugerira los mejoraes palanes segun tu gusto</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
  </div>
  <!-- /.container -->
</footer>
