<div class="container">
  <h2>Registrarse</h2>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()" novalidate>
    
	<div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" id="email" formControlName="email" required>
    </div>
	
	<div class="form-group">
      <label for="password">Password</label>
      <input type="text" class="form-control" id="password" formControlName="password" required>
    </div>

  <div class="form-group">
      <label for="firstname">Nombre</label>
      <input type="text" class="form-control" id="firstname" formControlName="firstname" required>
    </div>
	
    <div class="form-group">
      <label for="lastname">Apellido</label>
      <input type="text" class="form-control" id="lastname" formControlName="lastname" required>
    </div>

    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" formControlName="username" required>
    </div>

    <div class="form-group">
      <label for="ti">Tipo Identificacion</label>
      <input type="text" class="form-control" id="ti" formControlName="ti" required>
    </div>

    <div class="form-group">
      <label for="idnumber">Numero Identificacion</label>
      <input type="text" class="form-control" id="idnumber" formControlName="idnumber" required>
    </div>
    
<button type="submit" class="btn btn-success">Registrarse</button>

  </form>
</div>
