<div class="container">
  <h2>Nuevo Plan</h2>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()" novalidate>
    
	<div class="form-group">
      <label for="nombre">Nombre</label>
      <input type="text" class="form-control" id="nombre" formControlName="nombre" required>
    </div>
	
	<div class="form-group">
      <label for="descripcion">Descripcion</label>
      <input type="text" class="form-control" id="descripcion" formControlName="descripcion" required>
    </div>

  <div class="form-group">
      <label for="ubicacion">Ubicacion</label>
      <input type="text" class="form-control" id="ubicacion" formControlName="ubicacion" required>
    </div>

  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3975.9262020762617!2d-74.0447827846346!3d4.782680842271478!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f85e32ae0ca4b%3A0x5edd4c74e8f7220c!2sEscuela+Colombiana+de+Ingenier%C3%ADa+Julio+Garavito!5e0!3m2!1ses-419!2ses!4v1505859265531" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
	
    <div class="form-group">
      <label for="fecha">Fecha</label>
      <input type="text" class="form-control" id="fecha" formControlName="fecha" required>
    </div>

    <div class="form-group">
      <label for="costo">Costo Promedio</label>
      <input type="number" class="form-control" id="costo" formControlName="costo" required>
    </div>
    
<button type="submit" class="btn btn-success">Crear</button>

  </form>
</div>
