<div class="container">
  <h2>Edita: {{this.globalPlan.plan.nombre}}</h2>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()" novalidate>

    <div class="form-group">
      <label for="nombre">Nombre</label>
      <input type="text" class="form-control" id="nombre" formControlName="nombre" required>
    </div>

    <div class="form-group">
      <label for="descripcion">Descripcion</label>
      <input type="text" class="form-control" id="descripcion" formControlName="descripcion" required>
    </div>

    <div class="form-group">
      <label for="ubicacion">Ubicacion</label>
      <input type="text" class="form-control" id="ubicacion" formControlName="ubicacion" required>
    </div>

    <div class="form-group">
      <label for="fechainicio">Fecha Inicio</label>
      <input type="datetime-local" class="form-control" id="fechainicio" formControlName="fechainicio" required>
    </div>

    <div class="form-group">
      <label for="fechafinal">Fecha Final</label>
      <input type="datetime-local" class="form-control" id="fechafinal" formControlName="fechafinal" required>
    </div>

    <div class="form-group">
      <label for="costo">Costo Promedio</label>
      <input type="text" class="form-control" id="costo" formControlName="costo" required>
    </div>

    <div class="form-group">
      <label for="preferencia">Preferencia Plan</label>
      <select  formControlName="preferencia" class="form-control input-lg" id="preferencia">
        <option *ngFor="let preferencia of preferencias; let i = index" [ngValue]="preferencia.idPreferencia" [selected]="true ? true : null">{{preferencia.nombre}}</option>
      </select>
    </div>

    <button type="submit" class="btn btn-success">Guardar tu edicion</button>
    <p class="text-danger mt-1" *ngIf="errorString">{{errorString}}</p>

  </form>

  <h2>Asistentes al plan</h2>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Usuario</th>
      <th>Correo</th>
      <th>Nombres</th>
      <th>Apellidos</th>
    </tr>
    </thead>
    <tr *ngFor="let user of usuarios" >
      <td>{{user.usuario}}</td>
      <td>{{user.email}}</td>
      <td>{{user.nombres}}</td>
      <td>{{user.apellidos}}</td>
    </tr>
  </table>

</div>
